<wm-page data-ng-controller="MainPageController"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-left-panel columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content columnwidth="8"> 
            <wm-layoutgrid name="layoutgrid21"> 
                <wm-gridrow name="gridrow39_3"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1_1" padding="unset 1em 1em 1em"> 
                        <wm-tile name="tile1" borderstyle="solid" bordercolor="#e8e8e8" borderwidth="1px"> 
                            <wm-layoutgrid name="layoutgrid1"> 
                                <wm-gridrow name="gridrow1"> 
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn1" horizontalalign="left" class="col-xs-12" padding=".5em"> 
                                        <wm-picture shape="rounded" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg" pictureaspect="None" textalign="left" name="picture1"></wm-picture> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="5" name="gridcolumn2" class="col-xs-12" padding=".5em 1em"> 
                                        <wm-label caption="Jonathan Doe" class="h2" fontweight="bold" width="100%" name="label1" margin="0em unset unset unset"></wm-label> 
                                        <wm-label name="label2" caption="Senior Producer, Team Blue Dot," width="100%"></wm-label> 
                                        <wm-label name="label3" caption="jdoe@bluedot.com" width="100%"></wm-label> 
                                        <wm-label caption="+973 987 9811" width="100%" name="label4"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn3" horizontalalign="left" class="col-xs-12" padding=".5em"> 
                                        <wm-button name="button2_1" class="btn-lg" iconclass="glyphicon glyphicon-print" caption="Print as PDF" marginunit="em" width="100%"></wm-button> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow39_3"> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn67_2" padding="unset 1em"> 
                        <wm-panel collapsible="false" showheader="true" name="panel1" title="Personal Information" iconclass="wi wi-user" height="16em"> 
                            <wm-layoutgrid name="layoutgrid3"> 
                                <wm-gridrow name="gridrow7"> 
                                    <wm-gridcolumn columnwidth="5" name="gridcolumn19" horizontalalign="left" paddingunit="em" class="col-xs-3"> 
                                        <wm-label caption="date of birth" class="text-uppercase" paddingunit="em" name="label14"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn50" class="col-xs-1"> 
                                        <wm-label caption=":" name="label31" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn51" class="col-xs-8"> 
                                        <wm-label caption="15 july 1972" name="label15" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow37_1"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3" name="gridcolumn55"> 
                                        <wm-label caption="blood group" class="text-uppercase" name="label8" padding="unset .5em unset unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1" name="gridcolumn56_1"> 
                                        <wm-label caption=":" name="label36_1" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8" name="gridcolumn57_2"> 
                                        <wm-label caption="O Negative" name="label9" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow38"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3" name="gridcolumn58_3"> 
                                        <wm-label caption="Father's Name" class="text-uppercase" name="label10" padding="unset .5em unset unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1" name="gridcolumn59_1"> 
                                        <wm-label caption=":" name="label39" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8" name="gridcolumn60"> 
                                        <wm-label caption="Francis Dwight Doe" name="label11" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow39_2"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3" name="gridcolumn61_1"> 
                                        <wm-label caption="marital status" class="text-uppercase" name="label12" padding="unset .5em unset unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1" name="gridcolumn62"> 
                                        <wm-label caption=":" name="label42" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8" name="gridcolumn63_1"> 
                                        <wm-label caption="Married" name="label13" padding="unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel collapsible="false" showheader="true" name="panel2" iconclass="wi wi-school" title="Education" height="18em"> 
                            <wm-layoutgrid name="layoutgrid12"> 
                                <wm-gridrow name="gridrow13"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" name="gridcolumn40" padding=".5em unset"> 
                                        <wm-label caption="MS, Computer Science" paddingunit="em" name="label23" width="100%"></wm-label> 
                                        <wm-label caption="Carnegie Mellon University" paddingunit="em" width="100%" name="label24" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow14"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" name="gridcolumn43" padding=".5em unset"> 
                                        <wm-label caption="BS, Computer Science" paddingunit="em" width="100%" name="label25"></wm-label> 
                                        <wm-label caption="Carnegie Mellon University" paddingunit="em" width="100%" name="label26" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow15"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" name="gridcolumn46" padding=".5em unset"> 
                                        <wm-label caption="Diploma, Programming" paddingunit="em" width="100%" name="label27"></wm-label> 
                                        <wm-label caption="Penn State University" paddingunit="em" width="100%" name="label28" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel collapsible="false" showheader="true" name="panel3" title="Experience" iconclass="wi wi-briefcase"> 
                            <wm-layoutgrid name="layoutgrid15"> 
                                <wm-gridrow name="gridrow40"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" name="gridcolumn53" padding=".5em unset"> 
                                        <wm-label caption="2014-Present" paddingunit="em" width="100%" name="label45" class="text-uppercase"></wm-label> 
                                        <wm-label caption="Co-founder of AcmeCompany and CEO of GreatCompany" paddingunit="em" width="100%" name="label46"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn68" padding="unset 1em"> 
                        <wm-panel collapsible="false" showheader="true" name="panel4" iconclass="wi wi-telephone" height="16em"> 
                            <wm-layoutgrid name="layoutgrid4"> 
                                <wm-gridrow name="gridrow14_1"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="left" paddingunit="em" name="gridcolumn38_1" class="col-xs-4"> 
                                        <wm-label caption="work" class="text-uppercase" name="label22" padding=".5em .5em .5em unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn61" horizontalalign="left" class="col-xs-8"> 
                                        <wm-label caption="#51, Sundrop Aparments Medow Street, Fraser Town NJ 4111" name="label23_1" padding=".5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow22"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="left" paddingunit="em" name="gridcolumn63" class="col-xs-4"> 
                                        <wm-label caption="home" class="text-uppercase" name="label37" padding=".5em .5em .5em unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" horizontalalign="left" name="gridcolumn64" class="col-xs-8"> 
                                        <wm-label caption="#256, Jackson Tech Park, Wallaby Way,  Moristown, NJ 312221" name="label38" padding=".5em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel collapsible="false" showheader="true" name="panel5" iconclass="wi wi-apps" title="Groups" height="18em"> 
                            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist2" dataset="Engineering, Marketing, Sales"> 
                                <wm-listtemplate layout="gridlayout" name="listtemplate2"> 
                                    <wm-layoutgrid class="gridlayout" name="layoutgrid22"> 
                                        <wm-gridrow name="gridrow42_1"> 
                                            <wm-gridcolumn columnwidth="2" data-template-ctr="true" name="gridcolumn76" class="col-xs-4"> 
                                                <wm-icon name="icon6" iconsize="3em" iconclass="wi wi-apps"></wm-icon> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="10" data-template-ctr="true" name="gridcolumn77" class="col-xs-8"> 
                                                <wm-label name="label44_1" caption="Department"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow43"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn78" padding="unset 1em"> 
                        <wm-layoutgrid name="layoutgrid20"> 
                            <wm-gridrow name="gridrow40_1"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn64_1" horizontalalign="left" class="col-xs-4" padding=".5em"> 
                                    <wm-label name="label44" fontweight="bold" caption="Area"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn65_1" horizontalalign="left" class="col-xs-4" padding=".5em"> 
                                    <wm-label fontweight="bold" caption="Skill" name="label45_1"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn66_1" horizontalalign="left" class="col-xs-4" padding=".5em"> 
                                    <wm-label fontweight="bold" caption="Level" name="label46_1"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                        <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist3" dataset="1, 2, 3"> 
                            <wm-listtemplate layout="inline" name="listtemplate3"> 
                                <wm-layoutgrid class="inline" name="layoutgrid23"> 
                                    <wm-gridrow name="gridrow44"> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn42" class="col-xs-4"> 
                                            <wm-label caption="Skill Area" name="label39_1" width="100%"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn name="gridcolumn43_1" class="col-xs-4"> 
                                            <wm-label name="label40" caption="Skill Set" width="100%"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn name="gridcolumn44" class="col-xs-4"> 
                                            <wm-progress name="progress3" datavalue="60" margin="6px 0px 0px 0px" captionplacement="hidden"></wm-progress> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-listtemplate> 
                        </wm-livelist> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
        <wm-right-panel columnwidth="2" content="rightnav"></wm-right-panel> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>